.products {
  display: block;
  font-size: 1.4rem;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  // max-width: 1440px;
  max-width: 900px;
  max-height: 1024px;
  height: 100vh;
  min-height: 600px;
  padding-top: 90px;
}
