.products {
  display: block;
  font-size: 1.4rem;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  // max-width: 1440px;
  max-width: 900px;
  max-height: 1024px;
  height: 100vh;
  min-height: 600px;
  padding-top: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.pageHeader {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  font-weight: normal;
  margin-bottom: 2rem;
  color: #585858;
}

.productsItemContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
