.confirmation {
  display: block;
  // flex-direction: column;
  // height: 100%;
  // width: 100%;
  // margin: auto;
  // max-width: 900px;
  // // max-height: 1024px;
  // // height: 100vh;
  // min-height: 400px;
  // padding-top: 6.5rem;
  // padding-left: 2rem;
  // padding-right: 2rem;
}

.title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  color: #585858;
}

.body {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  color: #585858;
}
