.productItem {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
  margin: auto;
  // max-width: 1440px;
  max-width: 900px;
  max-height: 1024px;
  height: 100vh;
  min-height: 600px;
  padding-top: 90px;
}

.columnOne {
  display: block;
  width: 50%;
  margin-left: 2rem;
}

.productImageContainer {
  display: block;
  width: 100%;
  height: auto;
  background-color: #ececec;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.productImage {
  display: block;
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.columnTwo {
  display: flex;
  width: 50%;
  justify-content: center;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // right: 0;
  margin-right: 2rem;
  // margin-left: auto;
}

.fixedContainer {
  display: block;
  position: fixed;
  min-width: 300px;
  // margin-right: 1rem;
}

.productName {
  display: block;
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 2rem;
}

.productPrice {
  display: block;
  margin-bottom: 1.4rem;
}

.productDescriptions {
  display: block;
  margin-bottom: 1.4rem;
}

.productDescription {
  display: block;
}

.productStylesContainer {
  display: block;
  max-width: 100px;
  margin-bottom: 1.4rem;
  margin-left: auto;
  margin-right: auto;
}

.productStylesTitle {
  display: block;
  margin-bottom: 0.4rem;
}

.productStyles {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}

.productStyleOption {
  display: inline-block;
  margin-right: 0.8rem;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  .productItem {
    display: flex;
    flex-direction: row;
    // justify-content: flex-end;
    flex-wrap: wrap;
    max-height: none;
    justify-content: center;
  }

  .columnOne {
    width: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    order: 2;
  }

  .columnTwo {
    width: 100%;
    margin-left: 1rem;
    margin-right: 2rem;
    order: 1;
  }

  .fixedContainer {
    position: static;
  }
}
