.stockists {
  color: #585858;
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
}

.title {
  display: block;
  padding-top: 6.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

.content {
  display: grid;
  width: 100%;
  max-width: 1000px;
  // min-height: 600px;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 100%;
  grid-template-areas: '. info .';
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  .content {
    display: grid;
    width: 100%;
    max-width: 1000px;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: 'info';
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.info {
  grid-area: info;
  text-align: center;
}

.region {
  display: block;
  margin-bottom: 2rem;
}

.regionTitle {
  display: block;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.section {
  display: block;
  margin-bottom: 2rem;
}

.sectionTitle {
  display: block;
  color: #c2a1c3;
}

.sectionTitleLink {
  display: block;
  color: #c2a1c3;
}
