.menu {
  display: flex;
  font-size: 1.4rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1440px;
  padding-left: 1rem;
  padding-right: 6rem;
  padding-top: 0.5rem;
  position: fixed;
  flex-wrap: nowrap;
  justify-content: space-between;
  z-index: 1;
  background-color: white;
  // text-shadow: 1px 1px 2px #ffffff;
}

.menuColumn {
  display: block;
  width: auto;
  // text-align: center;
  // font-size: 0.9em;
  // opacity: 0.85;
  // height: auto;
  // float: left;
}

.menuItem {
  // margin: auto;
  color: black;
  display: block;
  width: 100%;
  text-align: center;
}

.dropDown {
  display: block;
}

.hide {
  visibility: hidden;
}

@media screen and (min-width: 0px) and (max-width: 769px) {
  .menu {
    display: none;
  }
}
