.error {
  display: block;
}

.title {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  color: #585858;
}

.body {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  text-align: left;
  padding-bottom: 2rem;
  color: #585858;
}
