.description {
  display: block;
  position: relative;
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 1440px;
  min-height: 100vh;
  // max-height: 1024px;
  // min-height: 600px;
  background-image: url('https://res.cloudinary.com/salviejo/image/upload/v1524639708/shop/description/description_bg.jpg');
  background-size: cover;
  background-position: center top;
  background-repeat: repeat;
}

.title {
  display: block;
  padding-top: 6rem;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.4rem;
  text-align: center;
}

.rowOne {
  display: block;
  font-size: 1.4rem;
  opacity: 1;
  width: 80%;
  margin: auto;
  color: #ffffff;
}

.rowOne p {
  display: block;
  margin: auto;
  max-width: 850px;
  padding-bottom: 1.5em;
  text-align: center;
  color: #ffffff;
}
