.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
  max-width: 900px;
  // max-height: 1024px;
  // height: 100vh;
  min-height: 400px;
  padding-top: 6.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cartTitle {
  display: block;
  width: 100%;
  font-size: 1.4rem;
  text-align: center;
  padding-bottom: 2rem;
  color: #585858;
}

.cartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.cartItems {
  display: flex;
  flex-direction: column;
  width: 60%;
}
