.checkout {
  display: flex;
  flex-direction: column;
  width: 30%;
  font-size: 1.2rem;
  color: #585858;
}

.fixedContainer {
  display: block;
  position: fixed;
  min-width: 300px;
  padding-bottom: 1.4rem;
  // margin-right: 1rem;
}

// .payPalButton {
//   position: relative;
//   display: inline-block;
//   z-index: 0;
// }

@media screen and (min-width: 0px) and (max-width: 769px) {
  .checkout {
    width: 100%;
  }

  .fixedContainer {
    position: static;
  }
}
